**/.DS_Store
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.iml
**/.idea/
**/.classpath
**/.project
**/.settings/
**/target/

test/data/SinglePassTests/FileFolderVolumeTests/sub1/
test/data/SinglePassTests/FileFolderVolumeTests/sub2/
test/data/SinglePassTests/FileFolderVolumeTests/sub3/
test/data/SinglePassTests/FileNameTests/Punctuation/
test/data/SinglePassTests/FileNameTests/Unicode/
test/data/SinglePassTests/FileNameTests/file with a very very very very very very very very very very very very very very very very very very long name that is longer than 128 characters.txt
test/data/SinglePassTests/FileNameTests/file with spaces in the name.txt
test/data/SinglePassTests/FileSizeTests/oneGigabyte.bin
test/data/SinglePassTests/FileSizeTests/oneHundredKilobytes.bin
test/data/SinglePassTests/FileSizeTests/oneHundredMegabytes.bin
test/data/SinglePassTests/FileSizeTests/oneKilobyte.bin
test/data/SinglePassTests/FileSizeTests/oneMegabyte.bin
test/data/SinglePassTests/FileSizeTests/tenKilobytes.bin
test/data/SinglePassTests/FileSizeTests/tenMegabytes.bin
test/data/SinglePassTests/FileSizeTests/threeGigabytes.bin
test/data/SinglePassTests/FileSizeTests/zeroByte.bin
test/data/SinglePassTests/FileVolumeTests/100000files/
test/data/SinglePassTests/FileVolumeTests/10000files/
test/data/SinglePassTests/FileVolumeTests/1000files/
test/data/SinglePassTests/FileVolumeTests/100files/
test/data/SinglePassTests/PermissionTests/readable.txt
test/data/SinglePassTests/PermissionTests/unreadable.txt
test/data/SinglePassTests/FolderStructureTests/deep/
test/data/SinglePassTests/FolderStructureTests/sub1/
test/data/SinglePassTests/FolderStructureTests/sub2/
test/data/SinglePassTests/FolderStructureTests/sub3/
test/data/SinglePassTests/FolderStructureTests/large-folder-structure
